section.charts-view
  charts-view
  button(class='btn btn-toggle switch-type-view to-tables' ng-click="switchView()") Wiecej
section.charts-view-mobile
  charts-view
  button(class='btn btn-toggle switch-type-view to-tables' ng-click="switchView()") Wiecej

section.tables-view
  tables-view
  button(class='btn btn-toggle switch-type-view to-charts' ng-click="switchView()") Zobacz Wykresy
section.tables-view-mobile
  tables-view
  button(class='btn btn-toggle switch-type-view to-charts' ng-click="switchView()") Zobacz Wykresy