nav.nav
  a(class="menu-btn open-menu btn" ng-click='showHideNavMenu()' ng-class="{active: openMenu || openMenu === undefined}" ng-show="dataUrl") 
    span.glyphicon.glyphicon-menu-hamburger
  a(class="menu-btn nav-btn open-menu btn chart-btn" ng-click='scrollTo("#charts")' ng-show="dataUrl && stats") Wykresy
    span.glyphicon.glyphicon-stats
  a(class="menu-btn nav-btn open-menu btn stats-btn" ng-click='scrollTo("#tables")' ng-show="dataUrl && stats") Statystyki
    span.glyphicon.glyphicon-th-list
  a(class="menu-btn nav-btn open-menu btn" ng-click='scrollTo("#candidates")' ng-show="stats.candidates && dataUrl") Kandydaci
    span.glyphicon.glyphicon-user
  a(class="menu-btn election-dropdown btn" ng-click="electionKindsDropwn = !electionKindsDropwn" ng-class="{active: electionKindsDropwn, default: !dataUrl}") {{electionKind.name}}
    span.glyphicon.glyphicon-chevron-down
  div(class="election-dropdown kinds" ng-class="{moveDown: electionKindsDropwn, moveOutDown: dropdownIsOff()}")
    div(class="element" ng-repeat="kind in tree" ng-click="changeElectionKind(kind)") 
      span {{kind.name}}
      

div(class="menu" ng-class="{moveLeft: openMenu, moveOutLeft: menuIsOff(), menuDefault: menuDefault()}" ng-show="dataUrl")
  //- input(type="text" placeholder="Znajdz okreg wyborczy")
  main-city(election="navTree")
  .tree
   areas-tree(tree="navTree.children")

section(class="page-title" ng-class="{moveLeft: openMenu, moveOutLeft: menuIsOff(), menuDefault: menuDefault()}") 
  h2 {{siteName}}
section(class="charts-view col-md-12" id="charts" ng-class="{moveLeft: openMenu, moveOutLeft: menuIsOff(), menuDefault: menuDefault()}" ng-hide="!dataUrl")
  charts-view(data="stats")
section(class="tables-view col-md-12" id="tables" ng-class="{moveLeft: openMenu, moveOutLeft: menuIsOff(), menuDefault: menuDefault()}" ng-hide="!dataUrl")
  tables-view(stats="stats" election-kind="electionKind")
div(class="col-md-12 choose-election-data" ng-show = "!dataUrl")
  h1 Wybory Samorządowe 2014
    span.glyphicon.glyphicon-stats
  h3 Warszawa 2014
//- div(class="col-md-12 spinner" ng-show = "showSpinner")



//- section.app-view-mobile
//-   .col-md-6
//-     charts-view
//-   .col-md-6
//-     tables-view