section.charts-view
  charts-view
  button(class='btn btn-toggle switch-type-view to-tables' ng-click="switchView()") Wiecej
section.tables-view
  tables-view
  button(class='btn btn-toggle switch-type-view to-charts' ng-click="switchView()") Zobacz Wykresy

section.app-view-mobile
  .col-md-6
    charts-view
  .col-md-6
    tables-view