ul(class="elements-tree")
  li(class="tree-element main-city" ng-click="changeArea($event, election)")
    p Warszawa
    //- button(class="change-area btn")
    //-   span.glyphicon.glyphicon-arrow-right