ul(class="elements-tree")
  li(class="tree-element main-city" ng-click="deactivateAllBranches($event)")
    p Warszawa
    button(class="btn change-area" ng-click="changeArea($event, election)")
      span.glyphicon.glyphicon-arrow-right