screen-mobile-breakpoint=768px


// colors
mjn-yellow = #FDE433
main-color = #7DCDB1
main-color-bright = #4EBE9D
second-color = #A660BA
second-color-bright = #B378C4
third-color = #F97200
third-color-bright = #F97200

// fonts
@font-face 
  font-family 'Glyphicons Halflings';
  src url('../fonts/glyphicons-halflings-regular.eot');
  src url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
