.areas-choose
  position relative
  
.areas-button-view-val
  width 250px
  background white
  height 50px

.areas-dropdown
  width 250px
  max-height 400px
  background-color #FFF
  color #444
  position absolute
  top: 30px
  .element
    height 30px
    width 100%
    border-bottom 1px solid #D7D7D7
    &:hover
      background-color #D7D7D7
  input
    color #000