.pkw-chart-desktop
  nvd3(options="options" data="chartData"  config="{deepWatchData: true}")
.pkw-chart-mobile
  nvd3(options="optionsMobileChart" data="chartMobileData" events="events" config="{deepWatchData: true, refreshDataOnly: false}")
