.col-md-11.desktop
  nvd3(options="options" data="chartData"  config="{deepWatchData: true}")
.col-md-11.mobile
  nvd3(options="optionsMobileChart" data="chartMobileData" events="events" config="{deepWatchData: true, refreshDataOnly: false}")
