table(st-table="rowCollection" class="table table-striped table-sample")
  thead
    tr
      th first name
      th last name
      th birth date
      th balance
      th email
  tbody
    tr(ng-repeat="row in rowCollection")
      td {{row.firstName}}
      td {{row.lastName}}
      td {{row.birthDate}}
      td {{row.balance}}
      td {{row.email}}